/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tinedl');
  src:  url('../fonts/icomoon.eot?tinedl#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?tinedl') format('truetype'),
  url('../fonts/icomoon.woff?tinedl') format('woff'),
  url('../fonts/icomoon.svg?tinedl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-default: 'Montserrat', sans-serif;
@font-title: 'Montserrat', sans-serif;


/* Colors */
@accent: #3032c1;
@shade80: #5759ca;
@shade60: #7f80d6;
@shade40: #a6a7e0;
@shade20: #ceceeb;

@secondary: #ec4d33;

@black: #333;

*, *:before, *:after {
  box-sizing: border-box;
}
html,
body {
  width:100%;
  height:100%;
  font-size:16px;
}

body {
  margin:0;
  padding:0;
  background: #f5f5f5;
  font-family: @font-default;
  font-size:16px;
  font-weight: 400;
  line-height:1.5;
  color:@black;
  -webkit-text-size-adjust: none;
}

form,
fieldset {
  margin:0;
  padding:0;
  border:0;
}

input,
select,
textarea,
button {
  font-family:@font-default;
  color:#000;
  font-size:16px;
  outline:none;
  overflow:visible;
}

input[type="text"],
input[type="password"],
textarea,
select {
  padding: 14px 15px;
  background: #ffffff;
  border:0;
  border-radius: 15px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
}

textarea {
  resize:none;
}

header,
nav,
section,
article,
aside,
footer,
figure {
  display: block;
}

img {
  border:0;
  vertical-align:top;
}

a {
  color:@accent;
  text-decoration:none;
  outline:none;
  cursor:pointer;
  transition: all .2s ease-out;
}

a:hover {
  text-decoration:none;
  color: @shade60;
}

p {
  margin:0 0 24px 0;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  font-family:@font-title;
  margin: 0 0 30px;
  @media (min-width: 767px) and (max-width: 1280px) {
    font-size: calc(30px + 30 * ((100vw - 767px) / 513));
  }
  @media (max-width: 767px) {
    text-align: center;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 8px;
  }
}

h2 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
  font-family:@font-title;
  margin: 0 0 14px;
  @media (min-width: 767px) and (max-width: 1280px) {
    font-size: calc(24px + 18 * ((100vw - 767px) / 513));
  }
  @media (max-width: 767px) {
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}
h3 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  font-family:@font-title;
  margin: 0 0 14px;
  text-transform: uppercase;
  @media (min-width: 767px) and (max-width: 1280px) {
    font-size: calc(20px + 4 * ((100vw - 767px) / 513));
  }
  @media (max-width: 767px) {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}
h4 {
  font-size: 20px;
  line-height: 25px;
  margin: 0;
  font-family:@font-title;
  font-weight: 700;
  @media (min-width: 767px) and (max-width: 1280px) {
    font-size: calc(16px + 4 * ((100vw - 767px) / 513));
  }
  @media (max-width: 767px) {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }
}
.wrapper {
  min-height:100%;
  position:relative;
  overflow:hidden;
}

.container:after {
  content: '';
  display: table;
  clear: both;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 22px 0 0;
  @media (min-height: 700px) {
    padding: 40px 0 0;
  }


  .logo {
    float: left;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    background: url("../img/logo-axa.svg") no-repeat 0 0;
    -webkit-background-size: contain;
    background-size: contain;
  }

  .menu-toggle {
    float: right;
    width: 40px;
    height: 40px;
    position: relative;
    padding: 0;
    border:0;
    background: transparent;
    margin-right: -9px;
    color: @accent;
    text-indent: -9999px;
    transition: all .5s ease-out;
    &:after {
      content: '\e901';
      font-family: icomoon, sans-serif;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-indent: 0;
    }

    &.menu-on {
      opacity: 0;
    }
  }
}

body:not(._homepage).fp-viewing-0 .header {
  .menu-toggle {
    color: #ffffff;
  }
}

main {
  transition:.5s ease-out transform;
}

.blue {
  color: @accent;
}

.slider-nav {
  position: absolute;
  top: 100vh;
  left: 0;
  right: 0;
  padding: 0 0 22px;
  transform: translateY(-100%);
  margin-top: -2px;
  @media (min-height: 700px) {
    padding: 0 0 40px;
  }

  .slides-count {
    float: left;
    margin: 12px 0 0 -8px;
    padding: 0;
    list-style: none;

    li {
      display: none;
      font-size: 12px;
      line-height: 1;
      font-weight: 700;
      text-align: right;
      min-width: 40px;
      transition: all .5s ease-out;

      &.active {
        display: block;
      }

      .current {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        font-weight: 700;
        color: @accent;
        transition: all .5s ease-out;
      }

      .amount {
        position: relative;
        top: 2px;
      }
    }
  }

  .slider-buttons {
    float: right;
  }

  .prev, .next {
    text-indent: -9999px;
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    position: relative;
    background: #ffffff;
    margin-left: 5px;
    color: @accent;
    cursor: pointer;

    &:after {
      content: '\e902';
      font-family: icomoon, sans-serif;
      text-indent: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 11px;
    }

    &.disabled {
      color: @black;
      cursor: default;
    }
  }

  .next {
    margin-left: 6px;
    &:after {
      content: '\e903';
    }
  }
  .fp-viewing-0 .technology-slider &,
  .fp-viewing-0 .partners-slider &,
  .fp-viewing-0 .regional-slider &,
  .fp-viewing-0 .implementation-slider &,
  .fp-viewing-0 .growth-slider &,
  .fp-viewing-0 .commercials-slider &,
  .fp-viewing-0 .product-pricing-slider & {
    .slides-count li {
      color: #ffffff;
      .current {
        color: #ffffff;
      }
    }
  }
}

.homepage-slider,
.product-pricing-slider,
.technology-slider,
.partners-slider,
.regional-slider,
.implementation-slider,
.growth-slider,
.commercials-slider {
  position: relative;

  .item {
    background: #f5f5f5;
    overflow: hidden;
    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      align-content: flex-end;
      min-height: 100vh;
      max-height: 100vh;
      padding: 90px 0;
      @media (min-height: 700px) {
        padding: 112px 0;
      }
    }
    &.product-slide1,
    &.tech-slide1,
    &.partner-slide1,
    &.regional-slide1,
    &.implement-slide1,
    &.growth-slide1,
    &.commercials-slide1 {
      background: @accent;
      color: #ffffff;
      .row {
        align-items: center;
      }
      h1 {
        text-transform: uppercase;
        margin: 0;
        max-width: 460px;
      }
      p {
        margin: 0;
        font-weight: 700;
        font-size: 24px;
      }
      .text, .image {
        display: flex;
        align-items: center;
      }

      .image {
        justify-content: center;

        figure {
          display: block;
          margin: auto;
          width: 370px;
          height: 370px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

    }
    .owl-carousel {
      padding-bottom: 32px;
      .owl-stage {
        display: flex;
      }
      .item {
        width: 470px;
        overflow: hidden;
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .map {
      position: relative;
      .map-holder {
        margin: 0 auto;
        max-width: 528px;

        svg {
          width: 100%;
          height: auto;
        }
      }
      .tooltip {
        position: absolute;
        background: #ffffff;
        display: flex;
        align-items: center;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 25px;

        img {
          width: 14px;
          height: auto;
          margin-right: 12px;
        }
      }
    }

  }

  /* Animations */
  .item {
    .row >* {
      opacity: 0;
      transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
  .item.active {
    .row {
      >* {
        animation: fadeInUp 0.5s 0.3s forwards;
      }
    }
    &:first-child {
      .row {
        >* {
          animation: fadeInUp 0.5s forwards;
        }
      }
    }
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes counter-clockwise {
  from {transform: rotate(360deg);}
  to {transform: rotate(0deg);}
}
@keyframes clockwise {
  from {transform: rotate(-360deg);}
  to {transform: rotate(0deg);}
}
#chartdiv svg:first-child path:last-of-type{
  cursor: -webkit-grab;
}
#chartdiv svg text{
  fill: #000000 !important;
}
#chartdiv .amcharts-chart-div>a{
  display: none!important;
}
.highcharts-credits{
  display: none;
}
.regional-slider .regional-slide3 .legend>div{
  cursor: pointer;
}