.product-pricing-slider {
  position: relative;

  .item {
    background: #f5f5f5;
    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      align-content: flex-end;
      min-height: 100vh;
      max-height: 100vh;
      padding: 60px 0;
      @media (min-height: 700px) {
        padding: 80px 0;
      }
    }

    &.product-slide2 {
      background: #f5f5f5 url('../img/plane.png') no-repeat 100% 100%;
      .row {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        height: auto;
      }
      .steps {
        display: flex;
        margin-bottom: 31px;
      }
      .step {
        background: #ffffff;
        width: calc(33.33% - 15px);
        margin: 0 15px;
        position: relative;
        padding: 40px 40px 35px;

        &:before, &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          width: 15px;
        }
        &:before {
          left: -15px;
          background: url("../img/step-before.png") no-repeat 0 0;
          background-size: 100% 100%;
        }
        &:after {
          right: -15px;
          background: url("../img/step-after.png") no-repeat 0 0;
          background-size: 100% 100%;
        }
        &:first-child {
          margin-left: 0;
          &:before {
            content: none;
          }
        }
        &:last-child {
          margin-right: 0;
          &:after {
            content: none;
          }
        }

        .icon {
          height: 40px;
          margin-bottom: 24px;
          img {
            width: auto;
            height: 100%;
          }
        }
      }
    }

    &.product-slide3 {
      .tab-content-block,
      .tab-list-block {
        min-height: 58.95vh;
        padding-bottom: 30px;
        position: relative;
      }

      .tab-list-block {
        padding-bottom: 5px;
      }

      .tab-list {
        margin: 0 -15px;
        padding: 0;
        list-style: none;
        font-size: 0;

        li {
          display: inline-block;
          width: 50%;
          padding: 0 15px;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
          margin-bottom: 28px;
          cursor: pointer;
          transition: all .2s ease-out;

          .title {
            margin-bottom: 8px;
            display: block;
          }

          img {
            filter: grayscale(100%);
            transition: all .2s ease-out;
          }
          &:hover, &:focus, &.active {
            color: @accent;
            img {
              filter: grayscale(0);
            }
          }
          &.active {
            cursor: default;
          }
        }
      }

      .tab-content-block .row {
        min-height: 0;
        padding: 0;
        align-items: flex-start;
      }

      .tab-content {
        background: #ffffff;
        padding: 8.2% 8.7% 20px;
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        bottom: 30px;
        opacity: 0;
        transition: all .2s ease-out;

        &.active {
          opacity: 1;
        }

        h3 {
          max-width: 260px;
          color: @accent;
          margin: 0 0 39px;
          min-height: 58px;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            position: relative;
            &:before {
              content: '';
              display: block;
              width: 4px;
              height: 4px;
              background: @black;
              border-radius: 50%;
              position: absolute;
              top: 11px;
              left: -9px;
              transform: scale(0.7);
            }
          }
        }

        .subtitle {
          display: block;
          font-weight: 700;
          margin-bottom: 12px;
        }
      }
    }

    &.product-slide4,
    &.product-slide5,
    &.product-slide6,
    &.product-slide7,
    &.product-slide8 {
      .table-block {
        position: relative;
        padding-bottom: 31px;
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 31px;
          left: 0;
          right: 0;
          height: 70px;
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(245,245,245,1) 100%);
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
        }
        table {
          float: right;
          width: 100%;
          max-width: 681px;
          td {
            padding: 0px 8px 2px;
            background: #ffffff;
          }
          .transparent td {
            background: transparent;
          }
        }
      }

      .text {
        padding-bottom: 42px;
        h2 {
          margin-bottom: 6px;
        }
      }
    }

    &.product-slide5 {
      .table-block {
        &:after {
          top: 0;
          bottom: auto;
          background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,0) 100%);
          background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%);
          background: linear-gradient(to bottom, rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%);
        }
      }
    }

    &.product-slide6 {
      .table-block {
        font-size: 0;
        &:before {
          content: none;
        }
        table {
          float: none;
          font-size: 16px;
          max-width: 575px;
        }
      }
    }

    &.product-slide7 {
      .table-block {
        font-size: 0;
        &:after {
          top: 0;
          bottom: auto;
          background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,0) 100%);
          background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%);
          background: linear-gradient(to bottom, rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%);
        }
        table {
          float: none;
          font-size: 16px;
          max-width: 575px;
        }
      }
    }

    &.product-slide8 {
      .table-block {
        &:before, &:after {
          content: none;
        }
        table {
          max-width: 870px;
        }
      }
    }
    
    &.product-slide9 {
      h2 {
        margin-bottom: 3px;
      }

      .table-block {
        align-self: stretch;
        padding-bottom: 31px;
      }

      .pricing-table {
        border-collapse: collapse;
        width: 100%;
        
        th, td {
          text-align: center;
          width: 30%;
          border: 1px solid #eee;
          background: #ffffff;
          padding: 13px 30px;
          font-size: 12px;
          line-height: 15px;
          &:first-child {
            text-align: left;
            width: 70%;
          }
        }

        th {
          color: @accent;
          border:0;
          background: transparent;
          text-transform: uppercase;
          font-weight: 700;
        }

        .gray-bg td {
          background: #fafafa;
        }
      }
    }

    &.product-slide10 {
      perspective: 3000px;
      h2 {
        margin-bottom: 20px;
      }

      .benefits-item {
        height: 180px;
        text-align: center;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        transform-style: preserve-3d;

        .front, .hover {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: #ffffff;
          height: 100%;
          padding: 15px;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          transition: all .6s ease-out;
          .icon {
            height: 50px;
            margin: 20px 0 23px;
            img {
              height: 100%;
              width: auto;
            }
          }
          .title {
            font-weight: 700;
          }
        }

        .hover {
          position: absolute;
          top: 0;
          left: 15px;
          right: 15px;
          bottom: 0;
          padding: 15px 40px;
          transition: all .6s ease-out;
          transform: rotateY(-180deg);
        }

        &:hover, &:focus {
          .front {
            transform: rotateY(-180deg);
          }
          .hover {
            transform: rotateY(0deg);
          }
        }

      }
    }

    &.product-slide11 {
      h2 {
        margin-bottom: 19px;
      }
    }


  }
}
.slider-nav .slides-count li .current{
  color: #3032c1;
}