.homepage-slider {
  position: relative;

  .item {

    &.home-slide1,
    &.home2-slide1 {
      background: #f5f5f5 url("../img/home-bg1.jpg") no-repeat 50% 50%;
      background-size: 100% auto;
      .row {
        align-items: center;
      }
      h1 {
        text-transform: uppercase;
        margin: 0;
        text-align: center;
      }
    }
    &.home-slide1 {
      .blue {
        display: block;
      }
    }
    &.home-slide2 {
      h2 {
        margin-bottom: 19px;
      }
      .text {
        align-self: stretch;
        >div {
          background: #ffffff;
          padding: 45px 30px 45px 60px;
          height: 100%;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            position: relative;
            margin-bottom: 24px;
            font-weight: 700;
            &:before {
              content: '';
              display: block;
              width: 4px;
              height: 4px;
              background: @black;
              border-radius: 50%;
              position: absolute;
              top: 12px;
              left: -9px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        padding: 30px 15px;
        img {
          display: block;
          max-width: 100%;
          max-height: 95px;
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    &.home-slide3,
    &.home2-slide2 {
      h2 {
        margin-bottom: 19px;
      }
      .links {
        background: #ffffff;
        float: left;
        padding: 43px 30px 40px 50px;
        min-width: 442px;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            margin-bottom: 12px;
            font-size: 24px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          a {
            color: @black;
            font-weight: 700;
            span {
              color: @accent;
            }
            &:hover, &:focus {
              color: @accent;
            }
          }
        }
      }
    }
    &.home2-slide2 {
      .row {
        align-items: flex-end;
      }
    }


  }
}