.technology-slider {
  position: relative;

  .item {
    background: #f5f5f5;
    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      align-content: flex-end;
      min-height: 100vh;
      max-height: 100vh;
      padding: 60px 0;
      @media (min-height: 700px) {
        padding: 112px 0;
      }
    }

    &.tech-slide2 {
      background: #f5f5f5 url(../img/flexible-api-integration.svg) no-repeat 71.6% 16.4%;
      background-size: 38.2% auto;
      h2 {
        margin-bottom: 19px;
      }
      .design, .metrics, .deploy {
        .title {
          margin-bottom: 24px;
          color: #ffffff;
          font-weight: 700;
          font-size: 24px;
          padding: 25px 30px 20px;
          box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
          span {
            display: block;
            font-size: 12px;
          }
        }
        .text {
          height: 100%;
          display: flex;
          align-items: center;
          background: #ffffff;
          padding: 15px 30px;
          min-height: 120px;
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
              position: relative;
              padding-left: 10px;
              &:before {
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                background: @black;
                border-radius: 50%;
                position: absolute;
                top: 12px;
                left: 0;
                transform: scale(0.7);
              }

            }
          }
        }
      }
      .design .title {
        background: @accent;
      }
      .metrics .title {
        background: @secondary;
      }
      .deploy .title {
        background: @black;
      }
    }
    &.tech-slide3,
    &.tech-slide4 {
      .description {
        max-width: 580px;
        margin-bottom: 20px;
      }
      .blue-bg, .image, .orange-bg {
        align-self: stretch;
        .title {
          margin-bottom: 24px;
          color: #ffffff;
          font-weight: 700;
          font-size: 24px;
          padding: 22px 30px 20px;
          box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
        }
        .text {
          background: #ffffff;
          padding: 24px 30px;
        }
      }
      .blue-bg {
        padding-top: 17px;
        .title {
          background: @accent;
        }
      }
      .orange-bg {
        padding-top: 26px;
        .title {
          background: @secondary;
        }
      }
      .image {
        padding: 4px 0 0;
        figure {
          margin: 0 -15px;
        }
      }
    }
    &.tech-slide4 {
      .orange-bg {
        padding-top: 47px;
      }
    }
    &.tech-slide5 {
      h2 {
        margin-bottom: 19px;
      }
      .text {
        text-align: center;
        background: #ffffff;
        padding: 15px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 188px;
        box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
      }
      .graph-block {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background: url("../img/tech5-graph.svg") no-repeat 50% 46px;
        background-size: 82% auto;
        margin-bottom: 55px;

        .icon {
          width: 70px;
          height: 70px;
          background: #ffffff;
          border-radius: 50%;
          padding: 19px;
          overflow: hidden;
          margin: 0 auto 31px;
          box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .title {
          text-align: center;
          max-width: 110px;
          font-size: 12px;
          line-height: 14px;
          font-weight: 700;
          text-transform: uppercase;
          margin: auto;
        }

        .monitoring {
          padding-top: 70px;
        }
        .audits {
          padding-top: 20px;
        }
        .server {
          padding-top: 50px;
        }

      }
    }

    &.tech-slide6 {
      .performance-item {
        position: relative;
        padding-left: 200px;
        margin-bottom: 36px;

        .text {
          background: #ffffff;
          padding: 31px 30px 23px;
          border: 0;
          border-top: 2px solid;
          box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
          .title {
            font-weight: 700;
            margin-bottom: 17px;
            display: flex;
            align-items: center;

            img {
              height: 24px;
              width: auto;
              margin-right: 13px;
            }
          }
          p:last-child {
            margin-bottom: 0;
          }
        }
        .gear {
          position: absolute;
          top: 28px;
          left: 0;
          width: 170px;
          height: 170px;
          animation: clockwise 20s linear 0s infinite;
          svg {
            width: 100%;
            height: 100%;
          }
        }
        .line {
          position: absolute;
          top: 29px;
          left: 130px;
          height: 2px;
          width: 82px;
          transform: rotate(-45deg);
          z-index: 1;
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-top: -5px;
          }
        }

        &.blue {
          padding-left: 0;
          padding-right: 200px;
          margin-bottom: -22px;
          color: @black;
          .text {
            border-top-color: @accent;
          }
          .line {
            background: @accent;
            transform: rotate(45deg);
            top: 29px;
            right: 130px;
            left: auto;
            &:after {
              background: @accent;
              left: auto;
              right: 0;
            }
          }
          .gear {
            left: auto;
            right: 0;
            animation: counter-clockwise 20s linear 0s infinite;
            svg path {
              fill: @accent;
            }
          }
        }

        &.orange {
          .text {
            border-top-color: @secondary;
          }
          .line, .line:after {
            background: @secondary;
          }
          .gear svg path {
            fill: @secondary;
          }
        }

        &.black {
          margin-bottom: 6px;
          .text {
            border-top-color: @black;
          }
          .line, .line:after {
            background: @black;
          }
          .gear svg path {
            fill: @black;
          }
        }

      }

      h2 {
        margin-bottom: 49px;
      }

    }

    &.tech-slide7 {
      .text {
        display: flex;
        align-items: center;
        min-height: 72px;
        background: #ffffff;
        margin-bottom: 30px;
        padding: 5px 30px;
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
        text-transform: uppercase;
        box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
        &:last-child {
          margin-bottom: 0;
        }

        .icon {
          display: block;
          width: 45px;
          margin-right: 10px;
          height: 30px;
          flex: 0 0 auto;

          img {
            height: 30px;
            width: auto;
          }
        }
      }

      .logo, .hosting {
        text-align: center;
        margin-bottom: -25px;
      }

      .hosting {
        margin-bottom: 43px;
      }

      .col-3 {
        align-self: flex-start;
      }

      h2 {
        margin-bottom: 29px;
      }
    }

    &.tech-slide8,
    &.tech-slide9 {
      h2 {
        margin-bottom: 19px;
      }
      .col-6 {
        align-self: stretch;
      }
      .concern {
        background: #ffffff;
        padding: 39px 40px 35px;
        height: 100%;
        .title {
          color: @accent;
          font-weight: 700;
          margin-bottom: 12px;
          .icon {
            margin-bottom: 27px;
            img {
              height: 50px;
              width: auto;
            }
          }
        }
        p:last-child {
          margin-bottom: 0;
        }
      }
    }




  }
}