.partners-slider {
  .item {
    &.partner-slide1 {
      .text {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
      h1 {
        max-width: none;
      }
    }
    &.partner-slide2 {
      .text {
        background: #ffffff;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 46px 50% 28px 40px;
        min-height: 235px;
        box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
      }
      .icon {
        position: absolute;
        top: 50px;
        right: 15px;
        width: 50%;
        padding-left: 15px;
        text-align: center;
        img {
          max-width: 100%;
          max-height: 185px;
          width: auto;
          height: auto;
        }
      }
      strong {
        color: @accent;
        font-size: 60px;
        font-weight: 700;
        sup {
          font-size: 14px;
          text-transform: uppercase;
          line-height: 14px;
          top: -10px;
          position: relative;
        }
      }
      p {
        margin: auto 0 0;
        font-size: 12px;
        line-height: 14px;
        min-height: 21px;
        text-transform: uppercase;
        font-weight: 700;
      }
      h2 {
        margin-bottom: 20px;
      }
    }

    &.partner-slide3 {
      .legend {
        display: flex;
        width: 100%;
        margin: 0 15px;
        box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
        .col-3 {
          background: #ffffff;
          position: relative;
          padding: 41px 50px 20px;
          font-weight: 700;
        }
        strong {
          color: @accent;
          text-transform: uppercase;
          font-size: 24px;
          display: block;
          margin-bottom: -5px;
          span {
            font-size: 16px;
          }
        }
        .line {
          position: absolute;
          bottom: 0;
          left: 50px;
          right: 50px;
          height: 5px;
          transition: all .2s ease-out;
        }
        .col-3:hover .line {
          height: 10px;
        }
        .chart1 .line {
          background: #5759ca;
        }
        .chart2 .line {
          background: #7f80d6;
        }
        .chart3 .line {
          background: #a6a7e0;
        }
        .chart4 .line {
          background: #3032c1;
        }
      }
      h2 {
        margin-bottom: 20px;
      }
    }
    &.partner-slide4 {
      position: relative;
      h2{
        margin-bottom: 19px;
      }
      .info .row {
        display: flex;
        height: auto;
        padding: 0;
        min-height: 0;
      }
      .text {
        background: #ffffff;
        padding: 41px 40px 45px;
        font-weight: 700;
        position: relative;
        box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
        strong {
          display: block;
          color: @accent;
          font-size: 24px;
          margin-bottom: -4px;
        }
        .inner {
          z-index: 20;
          position: relative;
        }
      }
      .map {
        position: relative;
        .map-holder {
          margin: 0 auto 6.4%;
          padding-right: 1px;
          max-width: 528px;
        }
        .tooltip {
          position: absolute;
          background: #ffffff;
          display: flex;
          align-items: center;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
          padding: 10px 25px;

          img {
            width: 14px;
            height: auto;
            margin-right: 12px;
          }
        }
      }
    }

    &.partner-slide5 {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -262px;
        left: 221px;
        width: 1050px;
        height: 800px;
        background: url("../img/map-asia.svg") no-repeat 0 0;
        background-size: 100% auto;
        opacity: 0.2;
      }
      .text {
        position: relative;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 34px 45% 32px 50px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        overflow: hidden;
        box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);

        .icon {
          position: absolute;
          right: 0;
          bottom: -30px;
          top: 0;
          width: 50%;
          text-align: right;
          padding: 30px 50px 0 15px;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          img {
            width: auto;
            height: 100%;
            margin-bottom: -5px;
          }
        }

        strong {
          font-size: 120px;
          color: @accent;
          line-height: 1;
          min-width: 120px;
          span {
            font-size: 24px;
            text-transform: uppercase;
          }
        }
        p {
          margin: 0;
        }
      }

      .flags {
        margin-bottom: 53px;
        font-size: 0;
        img {
          margin: 0 10px 10px;
          width: 110px;
          height: auto;
          display: inline-block;
          vertical-align: top;
          border-radius: 8px;
        }
      }
    }

    &.partner-slide6 {
      .image {
        width: 100%;
        height: 220px;
        overflow: hidden;
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0,0,0,0.2);
          opacity: 0;
          transition: all .4s ease-in-out;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all .4s ease-in-out;
        }
      }
      .text {
        background: #ffffff;
        padding: 14px 30px;
        font-size: 24px;
        font-weight: 700;
        &:after {
          content: '';
          display: table;
          clear: both;
        }
        a{
          color: @black;
          &:hover, &:focus {
            color: @accent;
          }
        }
        img {
          float: right;
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
      }
      .key-partner {
        box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
        a:hover, a:focus {
          color: @accent;
          .image {
            &:after {
              opacity: 1;
            }
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    &.partner-slide7 {
      background: #f5f5f5 url("../img/air-asia-bg.png") no-repeat 50% 50%;
      background-size: cover;
      .title {
        display: flex;
        align-items: flex-start;
        img {
          margin-left: 20px;
          margin-top: -3px;
        }
      }
      p {
        max-width: 580px;
      }
      .benefits {
        background: #ffffff;
        box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
        display: flex;
        padding: 40px 55px 45px;
        >div:last-child {
          padding-left: 35px;
        }

        img {
          display: block;
          height: 44px;
          width: auto;
          margin-bottom: 7px;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            position: relative;
            &:before {
              content: '';
              display: block;
              width: 4px;
              height: 4px;
              background: @black;
              border-radius: 50%;
              position: absolute;
              top: 11px;
              left: -9px;
              transform: scale(0.7);
            }
          }
        }
        strong {
          display: block;
          margin-bottom: 11px;
        }
      }
      .device {
        display: flex;
        align-items: flex-end;
        .mobile, .tablet {
          position: relative;
          overflow: hidden;
          flex-shrink: 0;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3px;
            //box-shadow: 0 0 5px rgba(67,68,91,0.5);
            border: 3px solid #e0e0e0;
          }
        }
        .mobile {
          width: 36%;
          padding: 7% 2.7% 10.1%;
          margin-right: -7%;
          background: url(../img/phone.svg) no-repeat 50% 100%;
          background-size: 100% auto;
          position: relative;
          z-index: 1;
          margin-bottom: -13px;
        }
        .tablet {
          width: 69%;
          padding: 9.5% 3.5% 12.3%;
          background: url(../img/tablet.svg) no-repeat 50% 100%;
          background-size: 100% auto;
          margin-bottom: -12px;
        }
      }
    }

    &.partner-slide8 {
      background: #f5f5f5 url("../img/lufthansa-bg.png") no-repeat 50% 50%;
      background-size: cover;

      .top-row {
        display: flex;
        align-items: center;
        width: 100%;

        p {
          margin-bottom: 20px;
        }
      }
      .title {
        display: flex;
        align-items: flex-start;
        img {
          width: 46px;
          height: auto;
          margin-left: 21px;
          margin-top: 1px;
        }
      }
      .logos {
        height: 50px;
        display: flex;
        align-items: center;
        position: relative;
        top: -9px;
        img {
          width: auto;
          height: auto;
          max-height: 40px;
          margin: 0 30px 0 0;
        }
      }

      .table-row  {
        font-size: 12px;
        line-height: 18px;
        margin-left: -30px;
        padding: 0 15px;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            position: relative;
            &:before {
              content: '';
              display: block;
              width: 4px;
              height: 4px;
              background: @black;
              border-radius: 50%;
              position: absolute;
              top: 7px;
              left: -7px;
              transform: scale(0.7);
            }
          }
        }

        table {
          border-collapse: collapse;
        }
        th {
          font-weight: 700;
          text-align: left;
          color: @accent;
          padding: 0 40px 5px;
          border:0;
          background-color: transparent;
          text-transform: uppercase;
          &:first-child {
            width: 30px;
            padding: 0;
          }
        }
        td {
          background: #ffffff;
          border: 1px solid #eee;
          padding: 17px 40px 16px;
          vertical-align: top;
          &.row-title {
            background: transparent;
            width: 30px;
            border: 0;
            padding: 0;
            font-size: 0;
            line-height: 0;
            div {
              height: 100px;
              position: relative;
            }
            strong {
              display: block;
              transform-origin: 100% 100%;
              color: #3032c1;
              text-transform: uppercase;
              font-size: 12px;
              line-height: 12px;
              position: absolute;
              top: 9px;
              right: 10px;
              transform: rotate(-90deg);
            }
          }
          &:nth-child(2) {
            width: 25%;
          }
          &:nth-child(3) {
            width: 33%;
          }
        }
      }
    }

    &.partner-slide9 {
      .row {
        padding-bottom: 0;
      }
      p {
        margin-bottom: -65px;
      }
      h2, p {
        position: relative;
        z-index: 2;
      }
      .locations {
        position: relative;
        margin: 0 -2% -2px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 49.4%;
          left: 50%;
          background: url("../img/map-world-solid.svg") no-repeat 50% 50%;
          background-size: 100% auto;
          width: 59.2%;
          height: 66%;
          transform: translate(-50%, -50%);
          opacity: 0.2;
        }
        img {
          width: 100%;
          height: auto;
          position: relative;
          z-index: 1;
        }
      }
    }

    &.partner-slide10 {
      .text {
        padding: 7.52% 37.7% 7.5% 40px;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        background: #fff url("../img/quote.jpg") no-repeat 100% 50%;
        background-size: auto 100%;
        box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);

        strong {
          color: @accent;
        }

        p {
          margin: 0 auto;
          max-width: 570px;
        }
      }
      .title {
        padding-right: 200px;
        position: relative;

        .link {
          display: block;
          position: absolute;
          top: 5px;
          right: 15px;
          background: #ffffff;
          padding: 11px 23px;
          font-weight: 700;
          font-size: 12px;
          text-transform: uppercase;
          color: #333333;
          text-decoration: none;
          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 11px;
            left: 23px;
            right: 23px;
            height: 1px;
            background: @black;
            opacity: 0.2;
          }
          &:hover, &:focus {
            text-decoration: none;
            color: @accent;
            &:after {
              background: @accent;
            }
          }
        }
      }
    }

    &.partner-slide11 {
      background: #f5f5f5 url(../img/ancileo-bg.png) no-repeat 100% 54.2%;
      background-size: 39.25% auto;
      .title {
        display: flex;
        align-items: flex-start;
        img {
          margin-left: 23px;
          margin-top: 9px;
          height: 31px;
        }
      }
      .col-7 p {
        max-width: 590px;
      }
      .benefits {
        width: 100%;
        display: flex;
      }
      .text {
        background: #ffffff;
        text-align: center;
        padding: 40px 15px 36px;
        height: 100%;

        .icon {
          margin-bottom: 21px;
          img {
            height: 63px;
            width: auto;
          }
        }
        strong {
          color: @accent;
          display: block;
          font-size: 24px;
          margin-bottom: 9px;
        }
        p {
          margin: 0 auto;
          max-width: 260px;
        }
      }
    }





  }
}