.regional-slider {
  .item {
    .countries {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
      background: #ffffff;

      table {
        border-collapse: collapse;
        width: 100%;
        td {
          border: 0;
        }
      }
      div {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        height: 117px;
        padding: 18px 15px 15px;

        img {
          height: 21px;
          width: auto;
          margin-right: 29px;
        }
        .dot {
          display: inline-block;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          margin-left: 15px;
        }
      }
    }

    .in-place .dot {
      background: @accent;
    }
    .in-progress .dot {
      background: @secondary;
    }
    .not-available .dot {
      background: @black;
    }

    &.regional-slide2 {
      .map {
        .map-holder {
          max-width: 370px;
        }
      }
    }
    &.regional-slide3 {
      .map {
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;
        .map-holder {
          max-width: 970px;
          transition: all .3s ease-in-out;
        }
      }
      .legend {
        text-align: right;
        padding-top: 6px;
        transition: all .3s ease-in-out;
        >div {
          background: #ffffff;
          margin-left: 9px;
          padding: 10px 24px;
          text-transform: uppercase;
          font-weight: 700;
          display: inline-block;
          vertical-align: top;
          font-size: 12px;
          &:first-child {
            margin-left: 0;
          }

          .dot {
            display: inline-block;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            margin-right: 8px;
          }
        }
      }
      .regional-info {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
      }

      &.show-table {
        .map .map-holder {
          opacity: 0;
        }
        .legend {
          opacity: 0;
        }
      }

      .countries {
        position: relative;
        overflow: hidden;
        max-height: 120px;
        cursor: zoom-in;
        transition: all .5s ease-in-out;
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 40px;
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(245,245,245,1) 100%);
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);

        }

        &.open {
          cursor: zoom-out;
          max-height: 55vh;
          overflow-y: auto;
          &:after {
            opacity: 0;
          }
        }
      }
    }

    .team-block {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: -32px;

      .team-member {
        background: #ffffff;
        text-align: center;
        padding: 25px 15px 13px;
        margin-bottom: 30px;
        font-weight: 700;

        .photo {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          margin:0 auto 13px;
        }
        .name {
          color: @accent;
          margin-bottom: 3px;
        }
        .job {
          font-size: 12px;
          line-height: 14px;
          min-height: 42px;
        }
      }
    }

    &.regional-slide4 {
      h2 {
        margin-bottom: 19px;
      }
    }
    &.regional-slide5 {
      h2 {
        margin-bottom: 19px;
      }
      .team-member .job {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
      }
    }



  }
}