.implementation-slider {
  .item {
    &.implement-slide2 {
      .diagram-block {
        position: relative;
        /*
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 70px;
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(245,245,245,1) 100%);
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
        }
        */

        #chartdiv {
          height: 488px;
          max-height: 84vh;
        }
      }
    }
  }
}

.notifyjs-corner {
  width: 100%;
  margin: auto!important;
  left: 0;
  padding: 14px 70px 0 70px;


  @media (min-width: 576px){
    max-width: 570px;
  }
  @media (min-width: 768px){
    max-width: 750px;
  }
  @media (min-width: 992px){
    max-width: 990px;
  }
  @media (min-width: 1200px){
    max-width: 1170px;
  }
  @media (min-width: 1300px){
    max-width: 1200px;
  }
  @media (min-height: 700px) {
    padding-top: 32px;
  }

  .notifyjs-container > div {
    display: flex;
    float: right;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
    padding: 7px 17px;
    background: #ffffff;
  }

  .image {
    margin-right: 15px;
  }

  .title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

}