.growth-slider {
  .item {
    &.growth-slide2 {

      h2 {
        margin-bottom: 0;
      }
      .growth-links-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .link {
          width: calc(25% - 22.5px);
          margin: 19px 0 0 30px;
          background: #ffffff;
          border-radius: 5px;
          box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
          position: relative;
          padding: 29px 29px 30px;

          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 30px;
            height: 12px;
            background: @accent;
            top: 68px;
            left: -30px;
          }

          &.no-line {
            margin-left: 0;
            &:before {
              content: none;
            }
          }

          .title-block {
            position: relative;
            margin-bottom: 16px;

            .icon {
              height: 24px;
              margin-bottom: 8px;
              img {
                height: 100%;
                width: auto;
              }
            }
            .title {
              font-weight: 700;
              color: @accent;
              margin-right: 50px;
            }

            .slide-number {
              width: 36px;
              height: 36px;
              line-height: 36px;
              text-align: center;
              font-weight: 700;
              color: #ffffff;
              background: @accent;
              border-radius: 50%;
              position: absolute;
              right: -7px;
              bottom: -6px;
            }
          }

          ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
              position: relative;
              line-height: 19px;
              &:before {
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                background: @black;
                border-radius: 50%;
                position: absolute;
                top: 11px;
                left: -9px;
                transform: scale(0.7);
              }
            }
          }


        }
      }
    }
    .description {
      p {
        margin-bottom: 19px;
      }
    }
    .back-link {
      position: absolute;
      left: 0;
      right: 0;
      max-width: 1200px;
      margin: auto;
      padding: 20px 62px 0 79px;
      text-align: left;
      @media (min-width: 576px) {
        max-width: 570px;
      }
      @media (min-width: 768px) {
        max-width: 750px;
      }
      @media (min-width: 992px) {
        max-width: 990px;
      }
      @media (min-width: 1200px) {
        max-width: 1170px;
      }
      @media (min-height: 700px) {
        padding: 40px 62px 0 79px;
      }

      a {
        display: inline-block;
        position: relative;
        padding: 14px 0 2px;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        color: @black;
        font-weight: 700;
        z-index: 20;
        border-bottom: 1px solid @black;

        img {
          vertical-align: middle;
          margin-right: 3px;
        }
      }
    }
    .before-after {
      display: flex;
      flex-wrap: wrap;

      .title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 12px;
      }

      .after {
        .image {
          cursor: zoom-in;
        }
        .title {
          color: @accent;
        }
        &.no-zoom {
          .image {
            cursor: default;
          }
        }
      }
    }
    .image-popup {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(51,51,51,.8);
      padding: 30px;
      z-index: 50;
      cursor: zoom-out;
      visibility: hidden;
      opacity: 0;
      transition: all .5s ease-in-out;

      &.open {
        opacity: 1;
        visibility: visible;
      }

      .inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &.growth-slide13 {
      background: #f5f5f5 url(../img/sms-bg.png) no-repeat 73.8% 100%;
      background-size: 38.55% auto;

      p {
        margin-bottom: 32px;
      }
    }

    &.growth-slide14,
    &.growth-slide15,
    &.growth-slide21,
    &.growth-slide22 {
      p {
        margin-bottom: 32px;
      }
      .col-4 {
        padding-right: 0;
      }
      .phone-holder {
        padding: 0 0 0 5.4%;
        display: flex;
        align-items: flex-end;
        margin-bottom: -85px;

        .phone {
          width: 36.8%;
          position: relative;
          padding-bottom: 75.32%;
          background: url(../img/phone.png) no-repeat 50% 0;
          background-size: 100% auto;
          margin-right: 30px;

          &:last-child {
            margin: 0;
          }

          .image {
            position: absolute;
            top: 11.2%;
            bottom: 10.9%;
            left: 5.3%;
            right: 4.5%;
            border: 2px solid #121212;
            border-radius: 3px;
            overflow: hidden;

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }

    &.growth-slide16 {
      background: #f5f5f5 url("../img/offer-bg.png") no-repeat 100% 0;
      background-size: auto 100%;

      p {
        margin-bottom: 32px;
      }
    }

    &.growth-slide17 {
      h2 {
        margin-bottom: 19px;
      }
      .custom-segmentation {
        position: relative;
        .image {
          width: 65.866%;
          margin: 0 auto -90px;
          position: relative;
          @media (min-height: 700px) {
            margin-bottom: -112px;
          }

          img {
            width: 100%;
            height: auto;
          }

          .segment {
            position: absolute;

            .line {
              position: absolute;
              top: 32px;
              right: 155px;
              height: 2px;
              width: 92px;
              transform: rotate(135deg);
              z-index: 1;
              background: @accent;
              &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: auto;
                right: 0;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-top: -5px;
                background: @accent;
                box-shadow: 0 0 0 5px rgba(48, 50, 193, 0.2);
              }
            }
            .text {
              background: #ffffff;
              padding: 18px 21px 17px;
              border: 0;
              border-top: 2px solid @accent;
              box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
              font-weight: 700;
              line-height: 1.19;
              width: 170px;
            }

            &.s1 {
              right: 104%;
              top: 15.2%;
              .line {
                background: @accent;
                transform: rotate(-135deg);
                top: 33px;
                left: 155px;
                right: auto;
                &:after {
                  left: 0;
                }
              }

            }

            &.s2 {
              left: 61%;
              top: 11.4%;
            }

            &.s3 {
              left: 104%;
              top: 31.2%;
            }

            &.s4 {
              left: 33.7%;
              top: 52.8%;
            }

          }
        }
      }
    }

    &.growth-slide18,
    &.growth-slide19 {
      h2 {
        margin-bottom: 19px;
      }
      .image {
        position: relative;
        max-height: 56.7vh;
        overflow: hidden;
        display: flex;
        align-items: flex-start;

        img {
          width: 100%;
          height: auto;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 50px;
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(245,245,245,1) 100%);
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
          opacity: 0.8;
        }

      }
    }

    &.growth-slide20 {
      h2 {
        margin-bottom: 19px;
      }
      .opportunities {
        display: flex;
        width: 100%;
      }
      .text {
        height: 100%;
        box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
        background: #ffffff;
        text-align: center;
        font-weight: 700;
        color: @accent;
        padding:70px 15px 28px;
        font-size: 24px;

        .icon {
          margin-bottom:44px;
          height: 120px;
          img {
            height: 100%;
            width: auto;
          }
        }
      }
    }




  }
}