.commercials-slider {
  .item {
    &.commercials-slide2 {
      h2 {
        margin-bottom: 19px;
      }
      .commercials-block {
        background: #ffffff;
        box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
        display: flex;

        .text {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: flex-end;
          font-weight: 700;
          width: 25%;
          padding: 31px 39px 21px;
          overflow: hidden;

          &.big {
            font-size: 24px;
            line-height: 1.2;
            color: @accent;
          }
          p {
            font-size: 12px;
            text-transform: uppercase;
            line-height: 1.16;
            margin: 0 0 5px;
          }

          .title {
            margin-bottom: 34px;
            color: @accent;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 1;

            &.big {
              font-size: 60px;
              margin-bottom: 29px;
            }
          }

          img {
            margin: 0 auto -52px;
          }
        }
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 12px;
      input {
        background-color: transparent;
        border:0;
        padding: 0;
        font-size: 12px;
        line-height: normal;
        width: 100%;
        text-align: center;
      }
      td {
        padding: 7px 20px;
      }
      th {
        text-align: left;
        padding: 10px 20px 16px;
      }

      &.graph-table {
        td {
          text-align: center;
          &:first-child {
            width: 43.4%;
            text-align: left;
          }
          &:last-child {
            width: 16.6%;
          }
        }
        th {
          color: @accent;
          font-weight: 700;
          text-align: center;
          &:first-child {
            text-align: left;
          }
        }

        .total {
          td, input {
            font-weight: 700;
          }
        }
      }
    }

    &.commercials-slide3 {
      h2 {
        margin-bottom: 19px;
      }
      .table-block {
        position: relative;
        height: 130px;
        overflow: hidden;
        cursor: zoom-in;
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 50px;
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(245,245,245,1) 100%);
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%);
          opacity: 0.8;
        }
        
        .inner {
          padding: 17px 20px 20px;
          background: #ffffff;
          box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
        }
      }
      .table-popup {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(51,51,51,.8);
        padding: 30px;
        z-index: 50;
        cursor: zoom-out;
        visibility: hidden;
        opacity: 0;
        transition: all .5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;

        &.open {
          opacity: 1;
          visibility: visible;
        }

        .inner {
          background: #ffffff;
          box-shadow: 0 0 40px 0 rgba(42, 51, 60, 0.05);
          padding: 17px 20px 20px;
          max-width: 1200px;
        }

      }

      .table-bottom {
        margin-top: 10px;
        table {
          th {
            padding: 10px 20px;
          }
          td:first-child, th:first-child {
            width: 29%;
          }
        }
      }
    }
    
    
  }
}