/* common */
.sp-block{
  display: none;
}
.sp-inline{
  display: none;
}
.pc-block{
  display: block;
}
.pc-inline{
  display: inline;
}
.spmenu{
  width: 44px;
  height: 44px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 200;
  transition: .5s ease-out;
}
.spmenu img:nth-of-type(1),.spmenu.menu-on img:nth-of-type(2){
  display:block;
}
.spmenu.menu-on img:nth-of-type(1),.spmenu img:nth-of-type(2){
  display:none;
}
.sp-nav{
  width: 468px;
  position: fixed;
  top:0;
  right:0;
  background: #121212;
  height: 100%;
  z-index: 200;
  transform: translate(468px,0);
  transition: .5s ease-out;
  overflow: auto;
  padding:0 10px;
  display: flex;
  align-items: flex-end;
}
.sp-wrap{
  transition: .5s transform ease-out;
}
.menu-on{
  transform: translate(-468px,0);
}
.menu-on-default{
  transform: translate(0,0);
}
.sp-nav ul {
  margin: 0;
  padding: 0 0 22px;
  list-style: none;
}
.sp-nav ul > li{
  font-size: 24px;
  line-height: 50px;
  font-weight: 700;
  padding: 0 38px;
  margin-bottom: 18px;
}
.sp-nav ul > li a {
  color: #ffffff;
}
.sp-nav ul > li a span {
  color: #3032c1;
}
.sp-nav ul > li > ul{
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
  background: #fafafa;
  padding:0 10px;
}
.sp-nav ul > li.on > ul{
  max-height: 1000px;
  transition: 1s ease-out;
}

.menu-close {
  display: block;
  position: absolute;
  top: 40px;
  right: 58px;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #ffffff;
}

.menu-close:after {
  content: '\e900';
  font-family: icomoon, sans-serif;
  display: block;
  text-indent: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-height: 700px) {
  .menu-close {
    top: 38px;
  }

  .sp-nav ul {
    padding-bottom: 40px;
  }
}

/*===============================================
画面の横幅が992pxまで
===============================================*/
.sp-block{
  display: block;
}
.sp-inline{
  display: inline;
}
.menu-toggle{
  cursor: pointer;
}


